.container {
  width: 500px;
  display: flex; /* 부모 요소를 flex container로 설정 */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  margin: 0 auto;
}

.box {
  width: 500px;
  height: 600px;
  display: flex; /* 자식 요소들을 flex container로 설정 */
  flex-direction: column; /* 자식 요소들을 세로 방향으로 배열 */
  justify-content: center; /* 수직 가운데 정렬 */
  align-items: center; /* 수평 가운데 정렬 */
  text-align: center;
  background: conic-gradient(
    rgba(82, 1, 32, 0.6) 0%,
    rgba(150, 43, 9, 0.6) 20%,
    rgba(181, 113, 20, 0.6) 40%,
    rgba(8, 64, 62, 0.7) 60%,
    rgba(112, 101, 19, 0.6) 80%,
    rgba(82, 1, 32, 0.6) 100%
  );
  border-radius: 10px;
}
.title {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}
input {
  width: 250px;
  height: 30px;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 20px;
  padding: 5px 0 5px 10px;
  margin-bottom: 20px; /* 원하는 마진 값으로 설정 */
}
input::placeholder {
  color: rgb(250, 250, 250);
  font-size: 20px;
  font-style: inherit;
  padding-left: 5%;
}
.caution {
  font-size: 15px;
  position: relative;
}
.finalCheck {
  width: 200px;
  height: 60px;
  line-height: 60px; /*텍스트 상하정렬*/
  font-size: 25px;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}
@media (max-width: 700px) {
  .box {
    width: 300px;
    height: 400px;
    padding: 10px;
  }
  .title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .imageItem {
    width: 100px;
    height: 100px;
  }
  input {
    width: 180px;
    height: 20px;
    margin-bottom: 10px;
  }
  input::placeholder {
    font-size: 15px;
  }
  .caution,
  .loginsub a {
    font-size: 10px;
  }
  .finalCheck {
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
  }
}
